Repository thedaviddias/gatsby-source-notion-article, changes with the labels that .github/labeler.yml gives for each.
All labels: test, dependencies, documentation, automation

.github/labeler.yml:

---
# labels auto assigned to PR, keep in sync with labels.yml
test:
  - src/**/*.test.**
dependencies:
  - package.json
  - yarn.lock
  - package-lock.json
documentation:
  -**.md
  -**/**/*.md
automation:
  - .github/*
  - .github/**/*

feat: first major release
  .github/workflows/development.yml
Labels: automation

Notes added by 'git notes add'
  42c5dea5ee3c16f9d9352e2ce71a72c0d96cf251
Labels: none

Notes added by 'git notes add'
  2b014c507065903a9027dec91eff5cc7147cc4fe
Labels: none

feat: first major release (#2)
  .all-contributorsrc
  .github/workflows/development.yml
  .releaserc.json
  README.md
  package.json
Labels: dependencies, automation

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Labels: none

Notes added by 'git notes add'
  e20866b2f4f69bf341cb0e2e63d49dc2a71d6af5
Labels: none

chore: update name readme
  README.md
Labels: none

fix: Fix broken links in readme file
  .github/workflows/development.yml
  CONTRIBUTING.md
  CONTRIBUTION.md
  package.json
Labels: dependencies, automation

fix: Fix broken links in readme file (#6)
  .github/workflows/development.yml
  CONTRIBUTING.md
  CONTRIBUTION.md
  package.json
Labels: dependencies, automation

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: dependencies

Notes added by 'git notes add'
  42c2ec42f66db84e4aa12c1287ba976775209b4d
Labels: none

Add yarn lock file
  .gitignore
  yarn.lock
Labels: dependencies

Add yarn lock file (#8)
  .gitignore
  yarn.lock
Labels: dependencies

Add more tests
  package.json
  src/__tests__/utils/convert-blocks.test.ts
  src/mockData/blocks.child-page.ts
  src/mockData/blocks.headings.ts
  src/mockData/blocks.todo.ts
  src/mockData/blocks.toggle.ts
  src/mockData/defaults.ts
  src/utils/convert-blocks.ts
  yarn.lock
Labels: test, dependencies

test: add missing tests (#10)
  package.json
  src/__tests__/utils/convert-blocks.test.ts
  src/mockData/blocks.child-page.ts
  src/mockData/blocks.headings.ts
  src/mockData/blocks.todo.ts
  src/mockData/blocks.toggle.ts
  src/mockData/defaults.ts
  src/utils/convert-blocks.ts
  yarn.lock
Labels: test, dependencies

feat: convert classes to data attributes
  src/__tests__/utils/convert-blocks.test.ts
  src/utils/convert-blocks.ts
Labels: test

feat: convert classes to data attributes (#12)
  src/__tests__/utils/convert-blocks.test.ts
  src/utils/convert-blocks.ts
Labels: test

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: dependencies

Notes added by 'git notes add'
  c0db6da193aa07a0e2998f3e9a0ca4e18b8a727c
Labels: none

chore: rename funding file
  .github/FUNDING.yml
Labels: automation
